html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/bootstrap.min.css" rel="stylesheet")
        title Сколько стоит совещание?
        meta(name="description" content="Риал-тайм сервис онлайн подсчёта стоимости совещания. Поможет вам постоянно быть в курсе - сколько денег компании вы уже потратили на совещание.")
    body
        div(class="container")
            div(class="row text-center mb-3")
                div(class="col-md-8 offset-md-2 col-sm-12")
                    h1 HOW MUCH IS THE MEET 
                    h2 Сколько стоит совещание?
            div(class="row text-center mb-3")
                div(class="col-md-8 offset-md-2 col-sm-12")
                    div(class="row")
                        div(class="col-md-4 offset-md-4 col-sm-12")
                            form(method="post" action="/create")
                                div(class="mb-3")
                                    label(for="cost" class="form-label") Сколько вы получаете в месяц?
                                    input(type="number" class="form-control" name="cost" id="cost" aria-describedby="costHelp")
                                    div(id="costHelp" class="form-text") Мы не сохраняем эту информацию
                                button(type="submit" class="btn btn-primary") Создать счётчик
            div(class="row mb-3")
                div(class="col-md-8 offset-md-2 col-sm-12")
                    h2 Что это за сервис?
                    p Сервис онлайн подсчёта стоимости совещания. Создаёте комнату совещания и управляете ею. Остальные участники заходят в комнату по ссылке и видят количество участников и счётчик стоимости совещания.
                    h2 Какую информацию мы храним?
                    p Ответ: никакую. Ваша зарплата не сохраняется в комнате отдельно, она плюсуется к общей стоимости совещания. После закрытия комнаты все данные удаляются.
                    h2 Краткая инструкция по применению сервиса:
                    ul
                        li Шаг первый: укажите свою зарплату за месяц и создайте комнату.
                        li Шаг второй: скопируйте адрес комнаты на странице созданной комнаты и раздайте всем участникам совещания.
                        li Шаг третий: дождитесь, когда счётчик участников комнаты станет равен количеству участников совещания (напишите в личку опаздывающим), но можно начать и раньше, после входа опаздывающих стоимость секунды совещания будет увеличина.
                        li Шаг четвертый: нажмите на кнопку "старт", счётчик стоимости совещания будет обновляться каждую секунду.
                    h2(class="text-success") Всё круто! Как отблагодарить автора?
                    p Можно отправить донат, или оформить ежемесячную подписку на донат вот 
                        a(href="https://boosty.to/sitespybot" target="_blank") тут
        script(src="/bootstrap.min.js")