html(lang="ru")
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-CE3PVG56NS")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-CE3PVG56NS');
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/bootstrap.min.css" rel="stylesheet")
    body
        div(class="container")
            div(class="row text-center mb-3")
                div(class="col-md-8 offset-md-2 col-sm-12")
                    h1 Присоединиться к комнате
            div(class="row text-center mb-3")
                div(class="col-md-8 offset-md-2 col-sm-12")
                    div(class="row")
                        div(class="col-md-4 offset-md-4 col-sm-12")
                            form(method="post" action="/join")
                                div(class="mb-3")
                                    label(for="cost" class="form-label") Сколько вы получаете в месяц?
                                    input(type="number" class="form-control" name="cost" id="cost" aria-describedby="costHelp")
                                    input(type="hidden" name="roomid" value=room)
                                    div(id="costHelp" class="form-text") Мы не сохраняем эту информацию
                                button(type="submit" class="btn btn-primary") Войти
        script(src="/bootstrap.min.js")